/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2016, 12:58:48 PM
    Author     : bclinthall
*/

body{
    background-image: url("green3c.jpg");
    background-attachment: fixed;
        
}
a:link{
    color: #339900;
}
a:visited{
    color: #336600;
}
.content{
    width: 75%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align:center;
}
.section{
    border-radius: 10px;
    margin: 30px;
    background-color: #eceadf;
    color: #2b2b2b;
    box-shadow: 2px -3px 3px rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.indent{
    padding-left:20px;
}
iframe{
    display: block;
    margin: auto;
}