[submodule "MusicSheet"]
	path = src/MusicSheet
	url = https://github.com/bclinthall/MusicSheet.git
[submodule "OrbitGame"]
	path = src/OrbitGame
	url = https://github.com/bclinthall/OrbitGame.git
[submodule "FirstOrderLogic"]
	path = src/FirstOrderLogic
	url = https://github.com/bclinthall/FirstOrderLogic.git
[submodule "FretboardPractice"]
	path = src/FretboardPractice
	url = https://github.com/bclinthall/FretboardPractice.git
